<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/payal/IdeaProjects/Ranium">
        <classes>
            <class name="Selenium.Testng">
                <methods><include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="Testng.Thirdclass">
                <methods><include name="test5"/>
                </methods></class><class name="Testng.firstclass">
            <methods>
                <include name="LoginTests1"/>
                <include name="loginTest2"/>
            </methods>
        </class>
            <class name="Testng.secondclass">
                <methods>
                    <include name="test3"/>
                    <include name="test4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="/Users/payal/IdeaProjects/Ranium">
    <classes>
      <class name="Selenium.Testng">
        <methods>
          <include name="test1"/>
          <include name="test2"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>

